<div class="hero">
<br />
<br />
<br />
  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
    <br />
    <h1>Be a Doggo</h1>
    <h2>Learn from expert doggers</h2>
    <br />
    <%= link_to 'VIEW COURSES', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
<br />
<br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
    <div class="col-sm-4">
      <%= image_tag 'bone.png' %>
      <br />
      <h3>Step by step instructions on building key dog skills such as borking, sleeping, and eating food off the floor.</h3>
    </div>

    <div class="col-sm-4">
    <%= image_tag 'video.png' %>
      <br />
      <h3>Even if you don't want to learn anything, you can still just watch videos of doggers. Nothin wrong with that.</h3>
    </div>

    <div class="col-sm-4">
    <%= image_tag 'mirror.png' %>
      <br />
      <h3>Hey get a load of this icon... Must be some kinda magic mirror or somethin huh? Pretty neat.</h3>
    </div>
</div>